<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Barra lateral - Litbook</title>
  <link rel="stylesheet" href="/static/css/barra_lateral.css">
</head>
<body>
  <!-- Barra lateral -->
  <div class="barra-lateral">
    <nav class="menu-lateral">
      <a href="#" class="menu-item">
        <img src="/static/img/inicio.png" alt="casa" /> Inicio
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/biblioteca.png" alt="biblioteca" /> Biblioteca
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/reporte.png" alt="reporte" /> Reportes
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/notificacion.png" alt="notificacion" /> Notificaciones
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/configuracion.png" alt="configuracion" /> Configuracion
      </a>
      <a href="#" class="menu-item">
        <img src="/static/img/salida.png" alt="salida" /> Cerrar Sesion
      </a>
    </nav>
  </div>
</body>
</html>
