<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>header</title>
</head>
<body>
<header class="header">
  <div class="logo">Quizz</div>

  <div class="search-bar">
    <input type="text" placeholder="Buscar">
  </div>

  <nav class="nav-links">
    <a href="#" class="active">Historial</a>
    <a href="#">Biblioteca</a>
    <a href="#">Partida</a>
  </nav>

  <div class="user-menu">
    <span>Bienvenido, Usuario</span>
    <div class="user-icon"></div>
  </div>
</header>

</body>
</html>