<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>

    <header class="header">
  <div class="logo">Quizz</div>

  <div class="search-bar">
    <input type="text" placeholder="Buscar">
  </div>

  <nav class="nav-links">
    <a href="#" class="active">Historial</a>
    <a href="#">Biblioteca</a>
    <a href="#">Partida</a>
  </nav>

  <div class="user-menu">
    <span>Bienvenido, Usuario</span>
    <div class="user-icon"></div>
  </div>
</header>



<footer class="footer">
  <div class="footer-logo">
    <h2>Quizz</h2>
  </div>
  <div class="footer-links">
    <div>
      <h4>Términos</h4>
      <a href="#">Términos</a>
      <a href="#">Condiciones</a>
      <a href="#">Cookies</a>
    </div>
    <div>
      <h4>Nosotros</h4>
      <a href="#">Fundadores</a>
      <a href="#">Visión</a>
      <a href="#">Misión</a>
    </div>
    <div>
      <h4>Redes sociales</h4>
      <a href="#">Instagram</a>
      <a href="#">Tiktok</a>
      <a href="#">Facebook</a>
    </div>
  </div>
  <div class="footer-extra">
    <img src="/static/img/libroReclamaciones.png" alt="libro">
    <h3>Libro de Reclamaciones</h3>
  </div>
</footer>
</body>
</html>