<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel="stylesheet" href="/static/css/estiloRegistro.css">
</head>
<body>
  <div id="header-placeholder"></div>

  <main>
    <section>
      <h2>Registro</h2>
      <form action="{{ url_for('registrar') }}" method="POST">
        <div>
          <label>Nombres</label>
          <input type="text" name="nombres" required>
        </div>

        <div>
          <label>Apellido Paterno</label>
          <input type="text" name="ape_pat" required>
        </div>

        <div>
          <label>Apellido Materno</label>
          <input type="text" name="ape_mat" required>
        </div>

        <div>
          <label>Correo Institucional</label>
          <input type="email" name="correo" required>
        </div>

        <div>
          <label>Fecha de Nacimiento</label>
          <input type="date" name="fecha_nac" required>
        </div>

        <div>
          <label>DNI</label>
          <input type="text" name="dni" maxlength="8" required>
        </div>

        <div>
          <label>Sexo</label>
          <select name="sexo" required>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </div>

        <div>
          <label>Contraseña</label>
          <input type="password" name="contrasena" required>
        </div>

        <div>
          <label>Confirmar Contraseña</label>
          <input type="password" name="contrasena_conf" required>
        </div>

        <div class="checkbox">
          <input type="checkbox" name="terminos" value="1" required>
          <label>Acepto los términos</label>
        </div>

        <div class="checkbox">
          <input type="checkbox" name="privacidad" value="1" required>
          <label>Acepto la política de privacidad</label>
        </div>

        <button type="submit"><a href="/templates/menu_usuario.html">Registrarse</a></button>
      </form>
    </section>
  </main>

  <div id="footer-placeholder"></div>
  <script src="/static/js/header.js"></script>
  <script src="/static/js/footer.js"></script>
</body>
</html>
